h3 Step 1: go to home page -> click login
= image_tag 'tutorial/share_each_group_member/s1.png'
h3 Step 2: input email & password -> submit => activity page
= image_tag 'tutorial/share_each_group_member/s2-1.png'
= image_tag 'tutorial/share_each_group_member/s2-2.png'
h3 Step 3: send a message -> open inspect element -> copy jsonrpc request
= image_tag 'tutorial/share_each_group_member/s3-1.png'
= image_tag 'tutorial/share_each_group_member/s3-2.png'
h3 Step 4: paste request to global bot
= image_tag 'tutorial/share_each_group_member/s4.png'
